doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Anonimato nella rete Internet

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h2 L'Anonimato nella rete Internet

      section
        h2 Web 2.0
        h3.bullet le pagine diventano dinamiche
        ul
          li Nascono le Web Apps
          li Gli utenti possono essere riconosciuti
          li I server iniziano a raccogliere informazioni
          li il <b>Cloud</b> si riempie di dati sensibili

      section
        h2 Conseguenze
        h3.bullet nasce l'esigenza dell'anonimato e della sicurezza
        ul
          li a scopo di liberarsi delle pubblicità mirate
          li per proteggersi dagli attacchi alle infrastrutture
          li per evitare analisi comportamentali
          li per slegarsi da servizi di terze parte vulnerabili
          li per evitare centralizzazione e monopolio dei servizi
          li per combattere la censura

      section
        h2 Soluzioni
        h3.bullet utilizzo di servizi alternativi
        ul
          li creati per essere <b>decentralizzati</b> o che permettano il <b>self hosting</b>
          li che si basano sull'<b>indipendenza</b>
          li che sono <b>liberi</b> e <b>aperti</b>, spesso <b>Open Source</b>
          li che rispettano la <b>privacy</b> e permettono l'<b>anonimato</b>

      section
        h2 Esempi
        h3.bullet le soluzioni più diffuse sono
        ul
          li <b>Tor</b> per navigare anonimi sul Web e combattere la censura
          li il <b>Sistema Operativo Tails</b> per non lasciare tracce sul proprio computer
          li <b>Bitcoin</b>, la moneta digitale alternativa e anonima
          li <b>Tox</b>, per chattare anonimamente
          li <b>Bitmessage</b> come alternativa blindata e sicura alle Email
          li <b>Syncthing o Bittorrent Sync</b> come alternativa al <b>Cloud Storage</b>

      section
        h2 Tor
        h3.bullet Lo strumento per la navigazione anonima
        ul
          li permette di <b>offuscare il proprio traffico</b>
          li è spesso usato per <b>contrastare la censura</b>
          li se usato correttamente non lascia traccia sui server visitati
          li è usato e finanziato da <b>multipli servizi segreti nazionali</b>
          li è completamente <b>libero</b> e <b>aperto</b>
          li è accessibile grazie a <b>Tor Browser</b>

      section
        h2 Bitcoin
        h3.bullet la prima valuta digitale significativa
        ul
          li permette di <b>effettuare transazioni libere e anonime</b>
          li utilizza una rete <b>decentralizzata</b>
          li non dipende da <b>terze parti</b>
          li è accessibile e utilizzabile da chiunque
          li una singola moneta è arrivata a valere <b>oltre 1000 euro</b>
          li tramite <b>exchange</b> permette scambi con valute convenzionali

      section
        h2 Bitmessage
        h3.bullet un servizio di posta digitale blindato
        ul
          li rende impossibile <b>origliare</b> messaggi altrui
          li non permette il <b>tracciamento della sorgente e destinazione</b> dei messaggi
          li non dipende da <b>terze parti</b>, è <b>decentralizzato</b>, <b>aperto</b> e <b>libero</b>
          li è accessibile e utilizzabile da chiunque
          li ogni utente è identificato da un file che agisce da <b>chiave</b> per autenticarsi al servizio

      section
        h2 Keyboard Interaction
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-keys">bespoke-keys</a>

      section
        h2 Touch Interaction
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-touch">bespoke-touch</a>

      section
        h2 Responsive Slides
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-scale">bespoke-scale</a>

      section
        h2 Bullet List
        h3.bullet Powered by <a href="https://github.com/markdalgleish/bespoke-bullets">bespoke-bullets</a>
        ul
          li Bullet 1
          li Bullet 2
          li Bullet 3

      section
        h2 Syntax Highlighting
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        pre
          code.language-javascript.
            bespoke.from('article', [
              classes(),
              keys(),
              touch(),
              bullets('li, .bullet')
            ]);

      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-backdrop">bespoke-backdrop</a>

      section
        h2.bullet Just the beginning...
        br
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        br
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    script(src='build/build.js')
